<div class="container home">
  <div class="card bg-light">
    <!--<img class="card-img-top" src="../../assets/img/chat.jpg" alt="Exchanging Ideas">-->
    <div class="card-body">
      <h1 class="card-title display-4 text-center">ChatQL</h1>
        <p class="card-body border border-right-0 border-left-0 text-center p-1"> Bringing together what some people love the most: Conversations and GraphQL </p>
        <amplify-authenticator></amplify-authenticator>
      </div>
      <div class="bg-light">
        <a href="https://aws.amazon.com/appsync" target="_blank"><img class="img-fluid img-responsive mx-auto d-block appsync" src="../../assets/img/AppSync.png" alt="AWS AppSync"></a>
        <br/>
      </div>
    </div>
  </div>
